body {
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #2d2d2b;
    border-left: 1px solid #2d2d2b;
    padding: 10px;
  }

  .display-3 {
    font-family: 'Abril Fatface', cursive;
    color: #2d2d2b;
  }

  .lead {
    font-family: 'Roboto', sans-serif;
    color:#2d2d2b;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: #2d2d2b;
    border-radius: 0;
    border-bottom: 10px solid #2d2d2b;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #2d2d2b;
    border-top: 1px dashed #2d2d2b;
  }
  
  .past {
    background-color: #eadad0;
    color: white;
  }
  
  .present {
    background-color: #7f423d;
    color: white;
  }
  
  .future {
    background-color: #a8ad97;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid #2d2d2b;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #d0c9b5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  