/* properties for main body of page */
body {
  font-size: 16px;
  line-height: 1;
  background-color: #eed2d2;
}

/* HEADER/JUMBOTRON */
/* properties for header/jumbotron */
.jumbotron {
  text-align: center;
  background-color: #e6baba;
  color: #2d2d2b;
  border-radius: 0;
  border-bottom: 10px solid #6d1919;
}
  
/* main title */
.display-3 {
  font-family: 'Abril Fatface', cursive;
  color: #6d1919;
}

/* subtitle */
.lead {
  font-family: 'Roboto', sans-serif;
  color: #6d1919;
}
  
/* current date and day of the week */
#currentDay {
  font-size: 25px;
}
    
.description {
  white-space: pre-wrap;
}

/* ------------------------------------------------------- */

/* MAIN SECTION/PLANNER */
/* the block housing the hour of the day */
.time-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* rows housing the scheduler */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #6d1919;
}
  
/* properties of the hour of the day */
.hour {
  background-color: #dea5a4;
  color: #6d1919;
  border-top: 1px solid #6d1919;
  border-left: 1px solid #6d1919;
  border-right: 1px solid #6d1919;
  text-align: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

/* text area for user input */
textarea {
  background: transparent;
  border: 1px solid #6d1919;
  resize: none;
  color: #6d1919;
  border-left: 1px solid #6d1919;
  padding: 10px;
}
  
/* color of the textarea if the time of day has passed */
.past {
  background-color: #e6baba;
  color: #2d2d2b;
}
  
/* color of the textarea if the time of day is current */
.present {
    background-color: #d07f7e ;
    color: #2d2d2b;
  }

/* color of the textarea if the time of day is in future */
.future {
  background-color: #b94543;
  color: #2d2d2b;
}

/* save title is italicised */
i {
  color: #6d1919;
}
    
/* save button properties */
.saveBtn {
  border-left: 1px solid #6d1919;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-color: #dea5a4;
}

/* font of the user input */
.sheduler {
  font-family: 'Roboto', sans-serif;
}

/* transition and font size */
/* will happen when user hovers over the button to save their input */
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }


  