body {
    font-size: 16px;
    line-height: 1;
    background-color: #e6baba;
  }

  .jumbotron {
    text-align: center;
    background-color: #e6baba;
    color: #2d2d2b;
    border-radius: 0;
    border-bottom: 10px solid #6d1919;
  }
  
  .display-3 {
    font-family: 'Abril Fatface', cursive;
    color: #6d1919;
  }

  .lead {
    font-family: 'Roboto', sans-serif;
    color: #6d1919;
  }
  
  #currentDay {
    font-size: 25px;
  }
    
  
  .description {
    white-space: pre-wrap;
  }

  .time-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid #2d2d2b;
  }
  
  .hour {
    background-color: #e6baba;
    color: #2d2d2b;
    border-top: 1px solid #2d2d2b;
    border-left: 1px solid #2d2d2b;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
  }

  textarea {
    background: #eed2d2;
    border: none;
    resize: none;
    color: #2d2d2b;
    border-left: 1px solid #2d2d2b;
    padding: 10px;
  }
  
  .past {
    background-color: #a23419;
    color: #2d2d2b;
  }
  
  .present {
    background-color: #c6612b;
    color: #2d2d2b;
  }
  
  .future {
    background-color: #a49375;
    color: #2d2d2b;
  }
  
  .saveBtn {
    border-left: 1px solid #2d2d2b;
    font-family: 'Roboto', sans-serif;
    background-color: #e6baba;
  }

  .sheduler {
    font-family: 'Roboto', sans-serif;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  